@charset "UTF-8";
@import "./basic.scss";
.main2_css{
  width: inherit;
  height: 900px;
  background-color: rgb(150,150,150);
}
.portfolio_div{
  display: flex;
  flex-direction: row;
  width: inherit;
  height: 300px;
  margin-top: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  & > span{
    & > p{
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
  }
}
.portfolio_div2{
  display: flex;
  flex-direction: row;
  width: inherit;
  height: 300px;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  & > span{
    & > p{
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
  }
} 