@charset "UTF-8";
@import "./basic.scss";
.nav_css{
  width: inherit;
  height: 900px;
  background-color: rgb(150, 150, 150);
}
.about_div{
  width: inherit;
  height: 150px;
  padding-top: 50px;
  & > span{
    display: block;
    width: 500px;
    height: inherit;
    margin: 0 auto;
    font-size: 60px;
    text-align: center;
    line-height: 150px;
    border: 4px double rgb(70, 70, 70);
    border-radius: 10px;
    box-shadow: 10px 10px 5px 5px;
    box-sizing: border-box;
  }
}
.about_div2{
  width: inherit;
  height: 670px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  & > span{
    display: block;
    width: 650px;
    height: 580px;
    & > ul{
      margin: 0;
      padding: 0;
      list-style: none;
      @include object(100%, 100%, flex, relative);
      @include flex(column, nowrap, space-around, center);
      & > li{
        @include object(100%, 40px, "", "");
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}
