@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@mixin body{    //body파트
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}
@mixin object($w,$h,$display,$position){    //오브젝트 생성
    width: $w;
    height: $h;
    display: $display;
    position: $position;
}
@mixin object2($w,$h,$display,$position){    //(min,max단위)오브젝트 생성
    min-width: $w;
    height: $h;
    display: $display;
    position: $position;
}
@mixin flex($direction,$wrap,$content,$items){  //flex일 경우
    flex-direction:$direction;
    flex-wrap: $wrap;
    justify-content: $content;
    align-items: $items;
}
@mixin ani($time){  
    transition: all $time ease;
}
@mixin color($color,$textcolor,$border){ //color,컬러색상
    background-color: $color;
    color: $textcolor;
    border:$border;
}
@mixin offset($top,$left,$right,$bottom){  //위치조정
    top:$top;
    left:$left;
    right:$right;
    bottom:$bottom;
}