@charset "UTF-8";
@import "./basic.scss";
body{
  @include body;
}
.header_div{
  @include object(1600px, 80px, "", relative);
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}
.fixed{
  position: fixed;
}
.header_css{
  width: inherit;
  height: 900px;
  & > img{ 
    position: absolute;
  }
}
.header_ul{
  @include object(auto, inherit, block, absolute);
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  right: -750px;
  transition: all .5s ease-in-out;
  & > li{
    float: left;
    font-size: 30px;
    @include object(150px, inherit, "", "");
    line-height: 80px;
    text-align: center;
    color: white;
    cursor: pointer;
  }
}
$total-arrows: 3;
$arrow-line-length: 25px;
$arrow-line-width: 4px;

// arrow animtion + choose direction
@mixin arrow-transitions($rot: 0deg) {
  transform: translate(-50%, -50%) rotateZ($rot);
}

//상단 여는 화살표
.open_span{
  @include object(60px,60px,"",absolute);
  top: 50%;
  right: -30px;
  @include arrow-transitions(90deg);
  &:hover {
    cursor: pointer;
    .arrow {
      top: 50%;
      &:before {
        @include arrow-transitions(-30deg);
      }
      &:after {
        @include arrow-transitions(30deg);
      }      
    }
  }
  & > label{
    position: absolute;
    left: 50%;
    transition: all .4s ease;
    cursor: pointer;
    &:before, &:after {
      transition: all .4s ease;
      content: '';
      display: block;
      position: absolute;
      transform-origin: bottom right;
      background: #fff;
      width: $arrow-line-width;
      height: $arrow-line-length;
      border-radius: 10px;
      transform: translate(-50%, -50%) rotateZ(-45deg);
    }
    &:after {
      transform-origin: bottom left;
      transform: translate(-50%, -50%) rotateZ(45deg);
    }
    @for $i from 1 through $total-arrows {
      &:nth-child(#{$i}) {
        opacity: 0.3 * $i;
        top: 15 + (100% * $i/5);
      }
    }
  }
}
//상단 닫는 화살표
.close_span{
  @include object(60px,60px,none,absolute);
  top: 50%;
  right: -30px;
  @include arrow-transitions(270deg);
  &:hover {
    cursor: pointer;
    .arrow {
      top: 50%;
      &:before {
        @include arrow-transitions(-30deg);
      }
      &:after {
        @include arrow-transitions(30deg);
      }      
    }
  }
  & > label{
    position: absolute;
    left: 50%;
    transition: all .4s ease;
    &:before, &:after {
      transition: all .4s ease;
      content: '';
      display: block;
      position: absolute;
      transform-origin: bottom right;
      background: #fff;
      width: $arrow-line-width;
      height: $arrow-line-length;
      border-radius: 10px;
      transform: translate(-50%, -50%) rotateZ(-45deg);
    }
    &:after {
      transform-origin: bottom left;
      transform: translate(-50%, -50%) rotateZ(45deg);
    }
    @for $i from 1 through $total-arrows {
      &:nth-child(#{$i}) {
        opacity: 0.3 * $i;
        top: 15 + (100% * $i/5);
      }
    }
  }
}
//하단 위로 화살표
.up_span{
  @include object(60px,60px,block,absolute);
  top: 60%;
  right: 130px;
  @include arrow-transitions(180deg);
  &:hover {
    cursor: pointer;
    .arrow {
      top: 50%;
      &:before {
        @include arrow-transitions(-30deg);
      }
      &:after {
        @include arrow-transitions(30deg);
      }      
    }
  }
  & > label{
    position: absolute;
    left: 50%;
    transition: all .4s ease;
    &:before, &:after {
      transition: all .4s ease;
      content: '';
      display: block;
      position: absolute;
      transform-origin: bottom right;
      background: #fff;
      width: $arrow-line-width;
      height: $arrow-line-length;
      border-radius: 10px;
      transform: translate(-50%, -50%) rotateZ(-45deg);
    }
    &:after {
      transform-origin: bottom left;
      transform: translate(-50%, -50%) rotateZ(45deg);
    }
    @for $i from 1 through $total-arrows {
      &:nth-child(#{$i}) {
        opacity: 0.3 * $i;
        top: 15 + (100% * $i/5);
      }
    }
  }
}
//하단 아래로 화살표
.down_span{
  @include object(60px,60px,block,absolute);
  top: 40%;
  right: -30px;
  @include arrow-transitions(0deg);
  &:hover {
    cursor: pointer;
    .arrow {
      top: 50%;
      &:before {
        @include arrow-transitions(-30deg);
      }
      &:after {
        @include arrow-transitions(30deg);
      }      
    }
  }
  & > label{
    position: absolute;
    left: 50%;
    transition: all .4s ease;
    &:before, &:after {
      transition: all .4s ease;
      content: '';
      display: block;
      position: absolute;
      transform-origin: bottom right;
      background: #fff;
      width: $arrow-line-width;
      height: $arrow-line-length;
      border-radius: 10px;
      transform: translate(-50%, -50%) rotateZ(-45deg);
    }
    &:after {
      transform-origin: bottom left;
      transform: translate(-50%, -50%) rotateZ(45deg);
    }
    @for $i from 1 through $total-arrows {
      &:nth-child(#{$i}) {
        opacity: 0.3 * $i;
        top: 15 + (100% * $i/5);
      }
    }
  }
}
.header_logo{
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
  & > label{
    display: block;
    position: absolute;
    cursor: pointer;
  }
  & > label:first-of-type{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: dia 4s linear infinite;
    transition: 1s;
    @keyframes dia {
      0% {
        transform: rotateZ(0);
      }
      50% {
          transform: rotateZ(180deg);
      }
      100% {
          transform: rotateZ(360deg);
      }
    }
  }
  & > label:last-of-type{
    background-color: white;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    animation: dia2 4s linear infinite;
    transition: 1s;
    @keyframes dia2 {
      0% {
        transform: scale(1.0);
      }
      25% {
        transform: scale(1.2);
      }
      50% {
        transform: scale(1.4);
      }
      75% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1.0);
      }
    }
  }
}
.header_main{
  position: relative;
  width: 800px;
  height: 740px;
  color: white;
  margin: 0 auto;
  font-size: 45px;
  text-align: center;
  & > span{
    display: block;
    width: inherit;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}


.header_bottom{
  width: 1600px;
  height: 80px;
  position: absolute;
  bottom: 100px;
  & > ul{
    width: auto;
    height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 500;
    & > li{
      width: 150px;
      height: inherit;
      float: left;
    }
  }
}
.gd{
  width: 0;
  height: 50px;
}
